:root{
    font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding-top: 50px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 7px;
}
/*--------------------Navigation Bar----------------------*/
a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.nav-bar {
    width: 93vw;
    height: 100px;
    background: rgb(229,50,130);
    background: linear-gradient(90deg, rgba(229,50,130,1) 0%, rgba(245,222,214,1) 30%, rgba(163,190,216,1) 56%, rgba(24,57,141,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    position: fixed;

    margin-left: 50px;
    margin-right: auto;

    border-radius: 15px;

    box-shadow: -2px 1px 57px -7px rgba(0,0,0,0.46);
    -webkit-box-shadow: -2px 1px 57px -7px rgba(0,0,0,0.46);
    -moz-box-shadow: -2px 1px 57px -7px rgba(0,0,0,0.46);

    z-index: 99;
}

.left-side {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
}

.left-side:hover{
    cursor: pointer;
}

.left-side a {
    font-size: 2rem;
}

.apple-logo {
    width: 14%;
    height: 14%;
}

.right-side {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.right-side a:nth-child(2) {
    padding-left: 35px;
    padding-right: 35px;
    border-left: solid 2px;
    border-right: solid 2px;
}

.right-side a:nth-child(1) {
    transition: border-bottom 0.2s ease-in-out;
}

.right-side a:nth-child(1):hover {
    border-bottom: solid 3px #2f5d8c;
}

.right-side a:nth-child(2):hover {
    border-bottom: solid 3px #999348;
}
/*--------------------End of Navigation Bar----------------------*/
/*-------------------------MAIN CONTENT--------------------------*/
main{
    height: 100vh;
    display: grid;
    place-items: center;
}

.card-groups,
.card-group,
.card {
    aspect-ratio: 5/7;
}

.card-groups,
.card-group,
.big-card{
    width: 30vmin;
}

.card-group {
    position: absolute;
    transition: transform 400ms ease;
}

.card-group[data-status="unknown"] {
    transform: scale(0);
}

.card-group[data-status="after"] {
    transform: translateX(50%) scale(0);
}

.card-group[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
}

.card-group[data-status="before"] {
    transform: translateX(-50%) scale(0);
}

.card-group[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
}

.card-group[data-status="active"] {
    transition-delay: 300ms;
}

.card {
    position: absolute;
    transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
}

.big-card {
    width: 30vmin;
    border-radius: 1vmin;
    box-shadow: -12px 10px 31px -6px rgba(0,0,0,0.53);
    -webkit-box-shadow: -12px 10px 31px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: -12px 10px 31px -6px rgba(0,0,0,0.53);
}

.little-card {
    width: 12vmin;
    border-radius: 1vmin;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.big-card:nth-child(2) {
    background-image: url("../Assets/Images/iphone.png");
    background-position: 50%;
    background-size: cover;
    transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
    background-image: url(../Assets/Images/2ip13.jfif);
    background-position: 50%;
    background-size: cover;
    transform: rotate(2deg);
}

.big-card:nth-child(6) {
    background-image: url(../Assets/Images/ip14.jfif);
    background-size: cover;
    transform: rotate(2deg);
}

.big-card:nth-child(8) {
    background-image: url(../Assets/Images/ip13.jfif);
    background-position: 50%;
    background-size: cover;
    transform: translate(10%, 3%) rotate(5deg);
}

.little-card:nth-child(1) {
    background-image: url("../Assets/Images/airpods.jfif");
    background-position: 50%;
    background-size: cover;
}

.little-card:nth-child(3) {
    background-image: url("../Assets/Images/cardcase.png");
    background-position: 50%;
    background-size: cover;
}

.little-card:nth-child(5) {
    background-image: url("../Assets/Images/ipcase.png");
    background-position: 50%;
    background-size: cover;
}

.little-card:nth-child(7) {
    background-image: url("../Assets/Images/idk.png");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="1"] > .big-card:nth-child(2) {
    background-image: url("../Assets/Images/ipad.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="1"] > .big-card:nth-child(4) {
    background-image: url("../Assets/Images/ipad\ 2.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="1"] > .big-card:nth-child(6) {
    background-image: url("../Assets/Images/ipad\ 3.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="1"] > .big-card:nth-child(8) {
    background-image: url("../Assets/Images/ipad\ 4.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="1"] > .little-card:nth-child(1) {
    background-image: url("../Assets/Images/ipad\ png.png");
}

.card-group[data-index="1"] > .little-card:nth-child(3) {
    background-image: none;
}

.card-group[data-index="1"] > .little-card:nth-child(5) {
    background-image: none;
}

.card-group[data-index="1"] > .little-card:nth-child(7) {
    background-image: url("../Assets/Images/ipad\ 2\ png.png");
}

.card-group[data-index="2"] > .big-card:nth-child(2) {
    background-image: url("../Assets/Images/iamc.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="2"] > .big-card:nth-child(4) {
    background-image: url("../Assets/Images/macbook.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="2"] > .big-card:nth-child(6) {
    background-image: url("../Assets/Images/macbook\ 2.jfif");
    background-position: 50%;
    background-size: cover;
}

.card-group[data-index="2"] > .big-card:nth-child(8) {
    background-image: url("../Assets/Images/imac\ 2.jpg");
    background-position: 50%;
    background-size: cover;
}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(6) {
    transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
    transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
    transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
    transform: translate(-280%, 140%) rotate(-15deg);
}

.card-swiper-buttons {
    margin-top: 8vmin;
    display: flex;
    justify-content: space-around;
}

.card-swiper-buttons > button {
    height: 7vmin;
    width: 7vmin;

    border-radius: 50%;

    cursor: pointer;

    font-size: 20px;
}
/*-------------------------MAIN CONTENT--------------------------*/
/*-------------------------MAIN HEADING--------------------------*/
.main-heading {
    padding: 20px;
    margin-left: 180px;
    margin-right: 180px;

    border-top: solid 5px;
}
.main-header {
    font-size: 60px;
    font-weight: bolder;
}
.main-heading a {
    font-weight: bold;
    color: #2f5d8c;
}

.main-heading a:hover {
    text-decoration: underline;
}

.header-text {
    font-size: 40px;
}

.image-slider{
    display: block;
    height: 80vh;
}

.side {
    width: 100%;
    height: 80vh;
    color: lightgray;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

.side .title {
    color: black;
    font-size: 6vw;
    margin: 0px 15vw;
    width: 70vw;
}

#right-side .title{
    color: white;
    font-size: 6vw;
    margin: 0px 15vw;
    width: 70vw;
    text-align: right;
}

#left-side {
    background-image: url(../Assets/Images/iphone\ 14\ pro.jpg);
    background-size: cover;
    z-index: 2;
}

#right-side {
    background-image: url(../Assets/Images/iphone\ 14\ pro\ max.jpg);
    background-size: cover;
}

.wrapper {
    padding: 100px;
    width: 80vw;
    display: block;
    text-align: center;
    margin: 0 auto;
}
  
.roles {
    position: relative;
    font-size: 30px;
    height: 1.2em;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
}

.roles > p {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    left: 37%;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.2em;
    }
    50% {
        top: -2.4em;
    }
    75% {
        top: -3.6em;
    }
}
/*-------------------------END OF MAIN HEADING--------------------------*/

/*-------------------------FOOTER--------------------------*/
.footer-container {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 20em
}

.upper-footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lower-footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-lower-footer {
    width: 20%;
    height: 90%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.middle-lower-footer {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.middle-lower-footer p:nth-child(1) {
    font-size: 40px;
}

.right-lower-footer {
    width: 20%;
    height: 90%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.brand-logo {
    font-size: 4rem;
    color: white;
}

.bi-facebook:hover {
    color: #3b5998 ;
    cursor: pointer;
}

.bi-twitter:hover {
    color: #00acee;
    cursor: pointer;
}

.bi-instagram:hover {
    color: #d62976;
    cursor: pointer;
}
